#root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Custom safe area offset for mobile devices */
.top-safe-offset-2 {
    top: calc(0.5rem + env(safe-area-inset-top, 0px));
}

.pt-safe-offset-10 {
    padding-top: calc(2.5rem + env(safe-area-inset-top, 0px));
}